-# Drop-down for friend sharing preferences
-# = form_for @user do |w|
-#   %p
-#     %select{ :name => "Please define your relationship with " }
-#       =@user.first_name
-#       =@user.last_name
-#       %option{:value => 1}= "Close Friend"
-#       %option{:value => 2}= "Friend"
-#       %option{:value => 3}= "Acquaintance"
-#   %p
-#     = w.submit "Submit" (current_user, params[:sharing_preference])







