// Place all the styles related to the UserNetworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  font-family: "Calibri";
}

#sharing_warning {
  display: hidden;
}

#map-canvas {
  margin-top: 200px;
  background: transparent no-repeat 1 1;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

#map-canvas.not_registered {
  -webkit-filter: brightness(65%);
}

.nav {
  background-color: #000;
  height: 100px;
  width: 100%;
  padding-top: 80px;
  text-align: center;
  position: relative;
  margin: auto;
}

.nav_links a {
  font-size: 24px;
  padding-left: 20px;
}

.nav_links a:first-child {
  font-size: 24px;
  padding-left: 0px;
}

.nav a, .nav_links a {
  font-family: "Calibri";
  color: #fff;
  text-decoration: none;
}

.nav a:hover, a:focus {
  text-decoration: none;
  color: #666;
}

.login {
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  position: absolute;
  bottom: 5%;
  right: 0%;
  color: #fff;
}

.login a {
  padding-right: 10px;
}

#search {
  background-color: #ccc;
  color: #444;
  border-bottom: 1px solid #000;
  padding: 10px;
}

label {
  font-family: "Calibri";
}

#postcode, #distance, #submit {
  border-radius: 5px;
  font-family: "Calibri";
}

// #unregistered_user {
// position: fixed;
// top: 50%;
// left: 50%;
// width: 30em;
// background: rgba(255,255,255,0.7);
// text-align: center;
// border-radius: 10px;
// margin-left: -15em;
// -webkit-filter: blur(1px);
//  box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
//  inset 8px 10px 10px rgba(255,255,255,0.75);
//  -o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
//  inset 8px 10px 10px rgba(255,255,255,0.75);
//  -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
//  inset 8px 10px 10px rgba(255,255,255,0.75);
//  -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
//  inset 8px 10px 10px rgba(255,255,255,0.75);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
// }

// #overlay {
//   color: #fff
// }

// #canvas {
//   width: 75%;
//   text-align: center;
//   margin-top: 20px;
//   margin-left: auto;
//   margin-right: auto;
// }

#overlay {
  margin: auto;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
}


#unregistered_user p {
  padding: 30px;
  margin: 0 20px 0 20px;
}

#unregistered_user a {
  text-decoration: none;
  color: #777;
}

#unregistered_user a:hover, a:focus {
  text-decoration: none;
  color: #333;
}

#unregistered_user a:hover, a:focus {
  text-decoration: none;
}
