// Place all the styles related to the UserNetworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sharing_warning {
  display: hidden;
}

#map-canvas {
  width: 940px;
  height: 600px;

}