.register {
  margin: auto;
  width: 40%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #e7e8e7;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px;
}

.register a {
  text-decoration: none;
  color: #000;
}

.register a:hover, a:focus {
  text-decoration: none;
  color: #777;
}

input, #user_biography {
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
}

.button {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ff2819 0%,
    #ab0000);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#ff2819),
    to(#ab0000));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7d0000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,0.7);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}

.button:hover {
  color: #ddd;
  background: -moz-linear-gradient(
    top,
    #ee2819 0%,
    #aa0000);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#ee2819),
    to(#aa0000));
}

.login_prompts a {
  text-decoration: none;
  color: #333;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.login_prompts a:hover, a:focus {
  text-decoration: none;
  color: #777;
}

#user_biography {
  max-width: 730px;
  border-bottom-color: rgb(238, 238, 238);
border-bottom-left-radius: 4.997184753417969px;
border-bottom-right-radius: 4.997184753417969px;
border-bottom-style: inset;
border-bottom-width: 1.501501441001892px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(238, 238, 238);
border-left-style: inset;
border-left-width: 1.501501441001892px;
border-right-color: rgb(238, 238, 238);
border-right-style: inset;
border-right-width: 1.501501441001892px;
border-top-color: rgb(238, 238, 238);
border-top-left-radius: 4.997184753417969px;
border-top-right-radius: 4.997184753417969px;
border-top-style: inset;
border-top-width: 1.501501441001892px;
margin-bottom: 2px;
margin-left: 2px;
margin-right: 2px;
margin-top: 2px;
padding-bottom: 5px;
padding-left: 8px;
padding-right: 5px;
padding-top: 5px;
}
