// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#unconfirmed_friendships {
  display: none;
}

body.map {
  background:  image_url('fabric_of_squares.png');
  background-repeat: repeat;
}

.sharer {
  list-style: none;
}

body {
 background: image_url('bgmap.jpg') no-repeat center center  fixed;
 background-size: cover;
}

.container_friends {
  margin: auto;
  text-align: left;
  background-color: #fff;
  padding: 50px;
  width: 720px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.friend_info {
  width: 100%;
}

.friendshipform {
  width: 48%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.friends {
  list-style: none;
  width: 92%;
  margin: auto;
  display: inline-block;
  padding: 30px;
  text-align: center;
  text-wrap: normal;
}

.new_friends {
  text-align: center;
  padding: 0;
}

#new_friend a {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}

.friend {
  list-style: none;
  width: 28%;
  margin: auto;
  display: inline-block;
  padding: 10px;
  width: 350px;
  text-wrap: normal;
  text-align: left;
  min-height: 340px;
  float: right;
}

.nofriends {
  text-align: left;
  display: block;
  width: 70%;
  margin-top: 60px;
  padding: 10px;
}

.friend_image {
  padding: 10px;
  width: 300px;
  float: left;
}

.network_list {
  list-style: none;
  width: 28%;
  margin: auto;
  display: inline-block;
  padding: 20px;
  width: 350px;
  text-wrap: normal;
  text-align: left;
}

li.friends {
  width: 200px;
  text-wrap: normal;
  text-align: center;
  font-size: 14px;
  background-color: #eee;
  border-radius: 5px;
  margin: 10px;
}

.links a,
li.friends a,
.friend_links a,
.friend a {
  text-decoration: none;
  color: #666;
}

.links a {
  font-size: 12px;
}

.links {
  color: #666;
}

.links a:hover,
.links a:focus,
li.friends a:hover,
li.friends a:focus,
.friend_links a:focus,
.friend_links a:hover {
color: #999;
}

.friend_links {
  width: 45%;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  color: #666;
  text-align: right;
  margin-left: 50%;
}

.friends ul {
  padding-left: 0px;
}

.search_form {
  margin-bottom: 30px;
  display: inline-block;
}

.search_form form {
  padding-top: 20px;
}

li.networks {
  width: 300px;
  text-wrap: normal;
  text-align: left;
  font-size: 14px;
}

.networks_container {
  text-align: left;
  padding: 20px;
}

h4.network {
  margin-top: 0;
}

.links#networks {

}
