

:javascript
  window.user_params = #{@params.to_json}


= form_tag user_networks_path, :id => 'search', :method => :get do
  =label_tag :postcode
  =text_field_tag :postcode, nil, { id: 'postcode' }
  =label_tag :distance
  =text_field_tag :distance, nil, {id: "distance"}
  =submit_tag "Search", :name => nil, id: "submit"

#container_div
  -if current_user
    #map-canvas
  -else
    #canvas
      #lolzor
        %canvas{:width => "380px", :height => "330px", id:"overlay"}
      -# #about
      -#   %p This map displays user networks.
      -#   %br
      -#   %p Please sign in to view more.

    #map-canvas.not_registered





