

:javascript
  window.user_params = #{@params.to_json}

= form_tag user_networks_path, :id => 'search', :method => :get do
  =label_tag :postcode
  =text_field_tag :postcode, nil, { id: 'postcode' }
  =label_tag :distance
  =text_field_tag :distance, nil, {id: "distance"}
  =submit_tag "Search", :name => nil, id: "submit"


-if current_user
  #map-canvas
-else
  #canvas
    %canvas{:width => "500px", :height => "400px", id:"overlay"}
  #map-canvas.not_registered





