<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sharing_preference.name %>
</p>


<%= link_to 'Edit', edit_sharing_preference_path(@sharing_preference) %> |
<%= link_to 'Back', sharing_preferences_path %>
